:root {
  --header-bg: #ffffff;
  --header-frame: #ececec;
  --logo-black: #000000;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-bg: #f5f4fa;
  --container-bg: #eeeeee;
  --client-section-grey: #afb1b8;
  --footer-bg: #2f303a;
  --text-footer-color: rgba(255, 255, 255, 0.6);
  --hero-bg: #c4c4c4;
  --hero-bg-gradient: rgba(47, 48, 58, 0.4);
  --social-links-color: #afb1b8;

  --trans-duration: 250ms;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

/* * {
  outline: 1px solid tomato;
} */

body {
  background-color: var(--header-bg);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

/* класи утиліти */

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;

  font-family: inherit;
  font-size: 16px;
  text-align: center;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--header-bg);
}

.title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/* хедер */
.header {
  background-color: var(--header-bg);
  border-bottom: 1px solid var(--header-frame);
  padding-top: 24px;
  padding-bottom: 25px;
  height: 80px;
}

.header-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* логотип */

.logo-header {
  display: block;
  margin-right: 93px;

  font-family: Raleway, sans-serif;
  color: var(--accent-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-black {
  color: var(--logo-black);
}

/* навігація і контакти */

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav-list {
  display: flex;
  gap: 50px;
}

/* .site-nav-item:not(:last-child) {
  margin-right: 50px;
} */

.site-nav-item {
}

.site-nav-link.link {
  position: relative;

  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color var(--trans-duration) var(--cubic);
}

.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}

.site-nav-link.current {
  color: var(--accent-color);
}

.site-nav-link.current::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 4px;

  border-radius: 2px;
  background-color: var(--accent-color);
}

.contacts {
  display: flex;
  gap: 50px;
}

.contact-item {
  align-items: center;
}

.contact-link {
  display: flex;
  align-items: center;

  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color var(--trans-duration) var(--cubic);
}

.contact-icon {
  fill: currentColor;
  margin-right: 10px;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

/* секція hero */

.hero {
  text-align: center;
  background-image: linear-gradient(
      to right,
      var(--hero-bg-gradient),
      var(--hero-bg-gradient)
    ),
    url(../images/hero-bg-image.jpg);
  background-color: var(--hero-bg);
  max-width: 1600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
}

.hero-title {
  margin-bottom: 30px;
  width: 696px;
  margin-left: auto;
  margin-right: auto;

  color: var(--header-bg);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  padding: 10px 32px;
  min-width: 216px;
  margin: 0 auto;

  display: flex;

  background-color: var(--accent-color);
  color: var(--header-bg);

  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 0.06em;

  transform: box-shadow var(--trans-duration) var(--cubic);
}

.hero-button:hover,
.hero-button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* секції Наші переваги і Чим ми займаємося */

.section-title {
  margin-bottom: 50px;

  color: var(--secondary-text-color);
  font-size: 36px;
  line-height: 1.6;
  text-align: center;
}

.features {
  display: flex;
  gap: 30px;
}

.features-item {
  flex-basis: calc((100%-90px) / 4);
}

.features-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features-title {
  margin-bottom: 10px;
  color: var(--secondary-text-color);
}

.features-text {
  line-height: 1.71;
}

.section.work {
  padding-top: 0;
}

.work-list {
  display: flex;
  gap: 30px;
}

.work-thumb {
  position: relative;
  z-index: 0;
}

.work-overlay {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.work-title {
  color: var(--header-bg);
}

/* секція Команда */

.section.team {
  background-color: var(--secondary-bg);
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-item {
  background-color: var(--header-bg);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.team-name {
  margin-bottom: 10px;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team-title {
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 16px;
}

.team-socials-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.social-item {
  width: 40px;
  height: 40px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--header-bg);
  fill: var(--client-section-grey);

  transition: background-color var(--trans-duration) var(--cubic),
    fill var(--trans-duration) var(--cubic);
}

/* .social-icon {
  fill: currentColor;
} */

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  fill: var(--header-bg);
}

/* клієнти */

.clients-list {
  display: flex;
  gap: 30px;
}

.client-item {
  width: calc((100% - 150px) / 6);
  height: 92px;
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--client-section-grey);
  border-radius: 4px;
  fill: var(--client-section-grey);

  transition: border-color var(--trans-duration) var(--cubic),
    fill var(--trans-duration) var(--cubic);
}

/* .client-icon {
  fill: currentColor;
} */

.client-link:hover,
.client-link:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

/* секція Портфоліо */

.projects-filter {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

/* .projects-item-button:not(:last-child) {
    margin-right: 8px;
  } */

.projects-button {
  padding: 6px 22px;
  min-width: fit-content;

  background-color: var(--secondary-bg);
  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;

  transition: background-color var(--trans-duration) var(--cubic),
    color var(--trans-duration) var(--cubic),
    box-shadow var(--trans-duration) var(--cubic);
}

.projects-button:hover,
.projects-button:focus {
  background-color: var(--accent-color);
  color: var(--header-bg);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.projects-button.current {
  background-color: var(--accent-color);
  color: var(--header-bg);
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project-item {
  flex-basis: calc((100% - 60px) / 3);
}

.project-link {
  display: block;
  box-shadow: none;
  transition: box-shadow var(--trans-duration) var(--cubic);
}

.project-thumb {
  position: relative;
  overflow: hidden;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 63px 24px;

  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform var(--trans-duration) var(--cubic);
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-link:hover .project-overlay,
.project-link:focus .project-overlay {
  transform: translateY(0);
}

.project-text {
  font-size: 18px;
  line-height: 1.56;
  color: var(--header-bg);
}

.project-description {
  padding: 20px 24px;
  border: 1px solid var(--container-bg);
  border-top: transparent;
  background-color: var(--header-bg);
}

.project-title {
  margin-bottom: 4px;
  color: var(--secondary-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-type {
  font-size: 16px;
  line-height: 1.8;
  color: var(--primary-text-color);
}

/* футер */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-bg);
}

.footer-flex {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.logo-footer {
  display: block;
  margin-bottom: 20px;

  font-family: Raleway, sans-serif;
  color: var(--accent-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-white {
  color: var(--header-bg);
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-link {
  line-height: 1.71;
}

.address-link.primary {
  color: var(--header-bg);

  transition: color var(--trans-duration) var(--cubic);
}

.address-link.secondary {
  color: var(--text-footer-color);

  transition: color var(--trans-duration) var(--cubic);
}

.address-link.primary:hover,
.address-link.primary:focus {
  color: var(--accent-color);
}

.address-link.secondary:hover,
.address-link.secondary:focus {
  color: var(--accent-color);
}

.footer-title {
  margin-bottom: 20px;
  color: var(--header-bg);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.footer-socials-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.footer-social-item {
  width: 44px;
  height: 44px;
}

.footer-social-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--header-bg);

  transition: background-color var(--trans-duration) var(--cubic);
}

/* .footer-social-icon {
  fill: var(--header-bg);
} */

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}

/* ФОРМА ПІДПИСКИ */

.subscription-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.subscription-input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--footer-bg);
  color: var(--header-bg);
}

.subscription-btn {
  min-width: 200px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--accent-color);
  color: var(--header-bg);

  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 0.06em;

  transform: box-shadow var(--trans-duration) var(--cubic);
}

.subscription-btn .send-icon {
  fill: var(--header-bg);
  margin-left: 10px;
}

.subscription-btn:hover,
.subscription-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* МОДАЛЬНЕ ВІКНО */

.hero-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  visibility: visible;
  opacity: 1;
  transition: opacity var(--trans-duration) var(--cubic),
    visibility var(--trans-duration) var(--cubic);
}

.hero-backdrop.is-hidden {
  visibility: hidden;
  pointer-events: none;

  opacity: 0;
}

.hero-backdrop.is-hidden .hero-modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  max-width: 528px;
  padding: 40px;

  background-color: var(--header-bg);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--trans-duration) var(--cubic);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;

  color: var(--secondary-text-color);
}

.modal-field {
  position: relative;
  margin-bottom: 10px;
}

.modal-label {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.modal-user-icon {
  position: absolute;
  left: 15px;
  top: 50%;

  transition: fill var(--trans-duration) var(--cubic);
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 0;
  margin: 0;
  padding-left: 42px;
  outline: transparent;

  transition: border-color var(--trans-duration) var(--cubic);
}

.modal-input:focus {
  border-color: var(--accent-color);
}

.modal-input:focus + .modal-user-icon {
  fill: var(--accent-color);
}

.modal-comment {
  display: block;
  width: 100%;
  min-height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  outline: transparent;
  resize: none;

  transition: border-color var(--trans-duration) var(--cubic);
}

.modal-comment:focus {
  border-color: var(--accent-color);
}

.modal-comment::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.modal-checkbox-label {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: end;

  line-height: 1.71;

  margin-bottom: 30px;
}

.modal-checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.checkbox-icon-none {
  position: absolute;
  top: 50%;
  left: 0;

  transform: translateY(-50%);

  opacity: 1;

  transition: opacity var(--trans-duration) var(--cubic);
}

.checkbox-icon {
  position: absolute;
  top: 50%;
  left: 0;

  transform: translateY(-50%);

  opacity: 0;

  fill: var(--accent-color);

  transition: opacity var(--trans-duration) var(--cubic);
}

.modal-checkbox:checked ~ .checkbox-icon-none {
  opacity: 0;
}

.modal-checkbox:checked ~ .checkbox-icon {
  opacity: 1;
}

.modal-checkbox-link {
  color: var(--accent-color);
  margin-left: 5px;
}

.modal-btn-submit {
  padding: 10px 52px;
  min-width: 200px;
  margin: 0 auto;

  display: flex;

  background-color: var(--accent-color);
  color: var(--header-bg);

  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 0.06em;

  transform: box-shadow var(--trans-duration) var(--cubic);
}

.modal-btn-submit:hover,
.modal-btn-submit:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-btn-close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: fill var(--trans-duration) var(--cubic);
}

.modal-btn-close:hover,
.modal-btn-close:focus {
  fill: var(--accent-color);
}
