.logo {
  display: block;

  font-family: Raleway, sans-serif;
  color: var(--accent-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  &-black {
    color: var(--logo-black);
  }

  &-white {
    color: var(--header-bg);
  }
}