
.filter {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;

    /* &-item:not(:last-child) {
        margin-right: 8px;
    } */

    &-button {
    padding: 6px 22px;
    min-width: fit-content;

    background-color: var(--secondary-bg);
    color: var(--secondary-text-color);
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.03em;

    transition: background-color var(--trans-duration) var(--cubic),
        color var(--trans-duration) var(--cubic),
        box-shadow var(--trans-duration) var(--cubic);
    }

    &-button:hover,
    &-button:focus {
    background-color: var(--accent-color);
    color: var(--header-bg);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &-button.current {
    background-color: var(--accent-color);
    color: var(--header-bg);
    }
}



.project {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

    &-item {
    flex-basis: calc((100% - 60px) / 3);
    }

    &-link {
    display: block;
    box-shadow: none;
    transition: box-shadow var(--trans-duration) var(--cubic);
    }

    &-thumb {
    position: relative;
    overflow: hidden;
    }

    &-overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    padding: 63px 24px;

    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);
    transition: transform var(--trans-duration) var(--cubic);
    }

    &-link:hover,
    &-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &-link:hover .project-overlay,
    &-link:focus .project-overlay {
    transform: translateY(0);
    }

    &-text {
    font-size: 18px;
    line-height: 1.56;
    color: var(--header-bg);
    }

    &-description {
    padding: 20px 24px;
    border: 1px solid var(--container-bg);
    border-top: transparent;
    background-color: var(--header-bg);
    }

    &-title {
    margin-bottom: 4px;
    color: var(--secondary-text-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    }

    &-type {
    font-size: 16px;
    line-height: 1.8;
    color: var(--primary-text-color);
    }
}

